div {
  margin-bottom:10px;
}

div .heading {
  text-align: center;
  font-size: xx-large;
  
}

h1 {
  font-size: xx-large;
}

body {
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 60px;
  margin-right: 60px;
}
